<div>
 <form id="add-book-form" class="card-body">
  <h3 class ="h3-addBook">Book Title: </h3><br>
  <input type="text" id="title" name="title" value="title"><br>
  <h3 class="newAuthorForm"> Author Name: </h3><br>
  <input type="text" id="author" name="author" value="author"><br>
  <h3 class="newAuthorForm">Description: </h3><br>
  <input type="description" id="description" name="description" value="description">

  <button type="submit" id="addbutton"  class="btn">Add Book</button>
</form>
</div>

<script src="/js/addBook.js"></script>