<div class="card">
     <div class="card bg-dark text-white">
  <img class="card-img" src="/images/homepagebooks.jpg" alt="Card image">
  <div class="card-img-overlay">
  <div id="homepageText">
    <h4 class="card-title">Welcome to AllBooks:</h4>
    <h5 class="card-text" id= "subtitle">We are a book lovers dream!</h5>
    <p class="card-text">Update and share your favorite books with bookworms around the world.<br>
      Find new books in the library and add them to your bookshelf if you love them. <br> Write reviews to share your thoughts with your fellow bookworms.
    </p>
</div>
  </div>
</div>
</div>

