<div class="card" id="login-box">
<div class="card-header">
<h2>Login</h2>
</div>
<form id="login-form" class="card-body">
<div>
<label for="email-input-login">Email</label>
<input type="text" id="email-input-login" />
</div>
<div>
<label for="password-input-login" class="form-label">Password</label>
<input type="password" id="password-input-login" />
</div>
<button type="submit" id="login-btn" class="btn">Login!</button>
</form>
<div id="signupHereLink">
Don't have an account? Sign Up <a href="/signup">here</a>
</div>
</div>
<script src="/js/login.js"></script>


