

    <main class="container container-fluid mt-5">
       
      <div class="card" id="cardone"></div>
      <div class="card" id="cardtwo"></div>
      <div class="card" id="cardthree"></div>
      <div class="card" id="cardfour"></div>
      <div class="card" id="cardfive"></div>
        
    </main>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/nyt.js"></script>
