<div class = "card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <div id="signup" role="tabpanel">
      <form id="sign-up-form" class="card-body">
          <div>
              <label for="firstname-input-signup">First-Name</label>
              <input type="text" id="firstname-input-signup"/>
          </div>
          <div>
              <label for="lastname-input-signup">Last-Name</label>
              <input type="text" id="lastname-input-signup"/>
          </div>
          <div>
              <label for="email-input-signup">Email</label>
              <input type="text" id="email-input-signup"/>
          </div>
          <div>
              <label for="password-input-signup">Password</label>
              <input type="text" id="password-input-signup"/>
          </div>
          <button type="submit" id="signup-btn" class="btn">Signup</button>
          <a href="/login">Login</a>
      </form>
    </div>
</div>

<script src="/js/signup.js"></script>