<h3>Here are all of the books you have saved</h3>

<div class="card" id="booksDiv">
  <h2 class="card-header">Book Title</h2>
  <div class="card-body">
    <h5 class="card-title">Book author Name</h5>
    <p class="card-text">Description</p>
    <a href="#" class="btn btn-primary" id="writeAReview">Write a review</a>
    <a href="#" class="btn btn-primary" id="writeAReview">Delete from your books</a>
  </div>
<form>
    <input type="textarea" id= "reviewTextBox">
    <input type="submit" value="Submit">
</form>
</div>

<script src="/js/yourBooks.js"></script>

