* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#signup {
    text-align: center;
}

.card-header {
    text-align: center;
}

#sign-up-form,
#login-form {
    margin: 3%;
}

#signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    /* background-color: tomato; */
    border-radius: 3px;
}

#login-box {
    width: 360px;
    height: 550px;
    margin: auto;
    border-radius: 30px;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
}

form input {
    width: 100%;
}

#signup-btn,
#login-btn {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #FFFF00
}

#loginHereLink {
    padding-top: 70px;
}

#signupHereLink {
    padding-bottom: 20px;
    text-align: center;
}

#formReview {
    text-align: center;
}

#booksDiv {
    text-align: center;
}

#homepageText {
    margin-top: 3%;
    color: Black;
    background-color: whitesmoke;
    opacity: 85%;
    border-radius: 10px;
    text-align: center;
    padding: 4%;
}

#homepageText h4 {
    font-family: serif;
    color: #FF737F;
    font-size: 90px;
}

#subtitle {
    font-family: serif;
    color: #C989FF;
    font-size: 60px;
}

#homepageText p {
    font-size: 40px;
    color: #60B9FF;
}

footer {
    margin-top: 30px;
    background-color: #D4ECFF;
    margin-bottom: 0%;
}

#Allbooks {
    font-family: serif;
}

#add-book-form {
    padding: 20px;
}

#addbutton:hover {
    background-color: #60B9FF;
    color: whitesmoke;
}

#addbutton {
    margin-top: 15px;
    background-color: #C989FF;
}